.vscode
__pycache__
*.swp
*.vsix
/carvel-packages/training-platform/bundle/.imgpkg/images.yml
/carvel-packages/training-platform/bundle/kbld-images.yaml
/session-manager/venv
/training-portal/venv
/training-portal/data/db.sqlite3
/training-portal/data/secret-key.txt
/workshop-images/base-environment/opt/gateway/build
/workshop-images/base-environment/opt/gateway/node_modules
/workshop-images/base-environment/opt/helper/node_modules
/workshop-images/base-environment/opt/helper/out
/workshop-images/base-environment/opt/renderer/build
/workshop-images/base-environment/opt/renderer/node_modules
/testing
