**/.vscode
__pycache__
*.swp
*.vsix
.netlify
/carvel-packages/installer/test-*.yaml
/carvel-packages/installer/bundle/.imgpkg/images.yml
/carvel-packages/installer/bundle/kbld/kbld-images.yaml
/client-programs/bin
/client-programs/pkg/renderer/files
/developer-testing
/project-docs/venv
/project-docs/_build
/session-manager/venv
/secrets-manager/venv
/training-portal/venv
/training-portal/data/db.sqlite3
/training-portal/data/secret-key.txt
/training-portal/src/static
/tunnel-manager/venv
/workshop-images/base-environment/opt/gateway/build
/workshop-images/base-environment/opt/gateway/node_modules
/workshop-images/base-environment/opt/helper/node_modules
/workshop-images/base-environment/opt/helper/out
/workshop-images/base-environment/opt/renderer/build
/workshop-images/base-environment/opt/renderer/node_modules
