{% load static %}

<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" crossorigin="anonymous">

    <title>EDUK8S</title>
  </head>
  <body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{% static "img/eduk8s-transparent.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
        EDUK8S
      </a>
    </nav>

    <div class="container">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static "js/jquery-3.4.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/popper.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}" crossorigin="anonymous"></script>
  </body>
</html>
