.header.page-navbar.sticky-top.bg-primary
    .row.row-no-gutters
        .col-sm-12
            .btn-group.btn-group-sm(role="group")
                form(action="/workshop/content/")
                    button.btn.btn-transparent#header-goto-home(type="submit" aria-label="Home")
                        span.fas.fa-home.fa-inverse(aria-hidden="true")
            .btn-toolbar.float-end(role="toolbar")
                .btn-group.btn-group-sm(role="group")
                    if module.prev_page
                        form(action=`/workshop/content/${module.prev_page}`)
                            button.btn.btn-transparent#header-prev-page(type="submit" aria-label="Prev")
                                span.fas.fa-arrow-left.fa-inverse(aria-hidden="true")
                    else
                        form
                            button.btn.btn-transparent#header-prev-page(type="submit" disabled="" aria-label="Prev")
                                span.fas.fa-arrow-left.fa-inverse(aria-hidden="true")
                    form
                        button.btn.btn-transparent#header-goto-toc(type="button" aria-label="TOC" data-bs-toggle="modal" data-bs-target="#table-of-contents")
                            span.fas.fa-list.fa-inverse(aria-hidden="true")
                    if module.next_page
                        form(action=`/workshop/content/${module.next_page}`)
                            button.btn.btn-transparent#header-next-page(type="submit" aria-label="Next")
                                span.fas.fa-arrow-right.fa-inverse(aria-hidden="true")
                    else
                        form
                            button.btn.btn-transparent#header-next-page(type="submit" disabled="" aria-label="Next")
                                span.fas.fa-arrow-right.fa-inverse(aria-hidden="true")
