@font-face {
	font-family: "SourceCodePro";
	src: url("/static/webfonts/Source Code Pro ExtraLight for Powerline.otf") format("woff");
	font-weight: 100;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("/static/webfonts/Source Code Pro Light for Powerline.otf") format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("/static/webfonts/Source Code Pro for Powerline.otf") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("/static/webfonts/Source Code Pro Medium for Powerline.otf") format("woff");
	font-weight: 500;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("/static/webfonts/Source Code Pro Semibold for Powerline.otf") format("woff");
	font-weight: 600;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("/static/webfonts/Source Code Pro Bold for Powerline.otf") format("woff");
	font-weight: 700;
}

@font-face {
	font-family: "SourceCodePro";
	src: url("/static/webfonts/Source Code Pro Black for Powerline.otf") format("woff");
	font-weight: 900;
}

html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 3px;
}

.no-scrolling {
	overflow: hidden;
}

.maximum-height {
	height: 100%;
}

.dashboard-content {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.tab-content {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.panel-div {
	width: 100%;
	height: 100%;
	border: 0;
}

.iframe-div {
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.iframe-div iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

#workshop-content {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#workarea-panel, #workarea-1, #workarea-2 {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#workarea-content {
	height: 100%;
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

li.nav-item>a {
	padding-top: 4px;
	padding-bottom: 5px;
}

li.nav-item>span>button {
	margin-top: 2px;
}

#terminal-panel {
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.terminal {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.terminal-overlay {
	position: absolute;
	z-index: 100;
	width: 70px;
	height: 100px;
	bottom: 0;
	right: 0;
}

.terminal-overlay:after {
	font-size: 4em;
	opacity: .4;
	font-weight: 900;
}

.terminal-overlay-1:after {
	content: "1"
}

.terminal-overlay-2:after {
	content: "2"
}

.terminal-overlay-3:after {
	content: "3"
}

.xterm {
	border: 1px solid #E9E9E9
}

.modal-body.preview-image-body {
	text-align: center
}

.gutter {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-vertical {
	cursor: row-resize;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
	cursor: col-resize;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
	overflow-x: hidden;
}

.split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
}

div.notify-closed, div.notify-exited, div.notify-forbidden, div.notify-hijacked {
	filter: grayscale(1);
}

div.notify-closed:after, div.notify-exited:after, div.notify-forbidden:after, div.notify-hijacked:after {
	font-size: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotate(-45deg);
	opacity: .4;
	font-weight: 900;
}

div.notify-closed:after {
	content: "CLOSED"
}

div.notify-exited:after {
	content: "EXITED"
}

div.notify-forbidden:after {
	content: "FORBIDDEN"
}

div.notify-hijacked:after {
	content: "HIJACKED"
}

.terminal-1-refresh-required {
	color: #fff;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.terminal-2-refresh-required {
	color: #fff;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.terminal-3-refresh-required {
	color: #fff;
	background-color: #dc3545 !important;
	border-color: #dc3545 !important;
}

.btn-transparent {
	background: none;
}

.btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none;
}

#startup-cover-panel {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #007bff;
	z-index: 9999;
	background-position: calc(100% - 25px) calc(100% - 25px);
	background-repeat: no-repeat;
	background-size: 75px;
	background-image: url("/static/images/logo.png");
	/* opacity: 0.95; */
}

#startup-cover-panel-dismiss {
    margin: 0.25em;
}

#startup-cover-panel-message {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	left: calc(50vw - 40px);
	top: calc(50vh - 40px);
}

.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}

.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}

.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}

.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}

.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}

.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}

.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}

.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}

@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
