{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block head_meta %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" crossorigin="anonymous">
    <title>EDUK8S</title>
    {% block head_styles %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="content container">
      <div class="row">
        <div class="col-md-12">
        {% block content %}
        {% endblock %}
        </div>
      </div>
    </div>
    {% endblock %}
    <script src="{% static "js/jquery-3.4.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/popper.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}" crossorigin="anonymous"></script>
  </body>
</html>
