{% extends 'eduk8s/base.html' %}

{% load static %}

{% block head_styles %}
<link rel="stylesheet" href="{% static "css/eduk8s/signin.css" %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="{% static "img/eduk8s-transparent.png" %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Register to start</h1>

      <label for="inputName" class="sr-only">Name or email address</label>
      <input type="text" id="inputName" class="form-control" placeholder="Name or email address" required autofocus>
      <label for="inputPassword" class="sr-only">Workshop password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Workshop password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
{% endblock %}
