{% extends 'eduk8s/base.html' %}

{% load static %}

{% block head_styles %}
<link rel="stylesheet" href="{% static "css/eduk8s/signin.css" %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="text-center">
   <form class="form-signin" method="POST">
     <img class="mb-4" src="{% static "img/eduk8s-transparent.png" %}" alt="" width="72" height="72">
     <h1 class="h3 mb-3 font-weight-normal">Register to start</h1>
     {% csrf_token %}
     <label for="id_email" class="sr-only">Email address</label>
     <input type="email" name="email" id="id_email" class="form-control" placeholder="Email address" required>
     <label for="id_password" class="sr-only">Access code</label>
     <input type="password" name="password" id="id_password" class="form-control" placeholder="Access code" required>
     <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
   </form>
</div>
{% endblock %}

