body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#startup-cover-panel {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #007bff;
  z-index: 9999;
  background-position: calc(100% - 25px) calc(100% - 25px);
  background-repeat: no-repeat;
  background-size: 75px;
  background-image: url("/static/images/logo.png");
}

#startup-cover-panel-dismiss {
  margin: 0.25em;
}

#startup-cover-panel-dismiss>a {
  text-decoration: none;
}

#startup-cover-panel-message {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
}

#startup-progress-panel {
  width: 100%;
  position: fixed;
  bottom: 0;
  visibility: hidden;
  /* background-color: transparent; */
}

#startup-progress-bar {
  width: 0%;
  height: 2px;
  background-color: white;
}
