{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "workshops/css/session.css" %}" crossorigin="anonymous">
  </head>
  <body>
    <div id="cover">
      <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      <div id="cover-message" class="text-white">
        <h5>Waiting for deployment...</h5>
      </div>
    </div>
    <div id="content">
      <iframe id="session" width="100%" height="100%" frameborder="0"></iframe>
    </div>

    <script src="{% static "js/jquery-3.4.1.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/popper.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "js/bootstrap.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "workshops/js/session.js" %}" crossorigin="anonymous"></script>

    <script nonce="{{ request.csp_nonce }}">
       check_readiness("{{session_url}}");
    </script>

  </body>
</html>
