sphinx==4.3.0
sphinx-rtd-theme==1.0.0
recommonmark==0.6.0
myst-parser==0.17.0
attrs==21.4.0

# Pin due to CVEs.
certifi==2023.07.22
markdown-it-py==2.2.0
requests==2.31.0
pygments==2.15.0
urllib3==1.26.18
