.navbar {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 12px;
  padding-left: 12px;
}

.navbar img {
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.container {
  padding-top: 0px;
  padding-bottom: 15px;
}

.login {
  padding-top: 15px;
  padding-bottom: 15px;
}
