div.modal.fade#restart-workshop-dialog(tabindex="-1", role="dialog", aria-labelledby="restart-workshop-title", aria-hidden="true")
    div.modal-dialog.modal-dialog-centered(role="document")
        div.modal-content
            div.modal-header
                h5.modal-title#restart-workshop-title Restart Session
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            div.modal-body
                p Restarting the workshop session can result in the loss of progress and/or data. Are you sure?
            div.modal-footer
                button.btn.btn-secondary(type="button", data-dismiss="modal") Cancel
                button.btn.btn-primary#restart-workshop-dialog-confirm(type="submit", data-restart-url=config.restart_url) Restart
