div#workarea-content
    div.navbar-content#workarea-navbar-div
        ul.nav.nav-pills.mb-1#workarea-nav(role="tablist")
            li.nav-item
                a.nav-link.active#terminals-tab(data-toggle="tab" href="#terminals-panel" role="tab" aria-controls="terminals-panel" aria-selected=true) Terminal

    div.tab-content
        div.tab-pane.fade.show.active#terminals-panel(role="tabpanel" aria-labelledby="terminals-tab")
            div#terminals
                div.terminal#terminal-1(data-endpoint-id=`${endpoint_id}` data-session-id="1")
                if config.terminal_layout == "split" || config.terminal_layout == "split/2"
                    div.terminal#terminal-2(data-endpoint-id=`${endpoint_id}` data-session-id="2")
                if config.terminal_layout == "split/2"
                    div.terminal#terminal-3(data-endpoint-id=`${endpoint_id}` data-session-id="3")
