div.modal.fade#workshop-failed-dialog(tabindex="-1", role="dialog", aria-labelledby="workshop-failed-title", aria-hidden="true")
    div.modal-dialog.modal-dialog-centered(role="document")
        div.modal-content
            div.modal-header
                h5.modal-title#workshop-failed-dialog-title Workshop Failed
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            div.modal-body
                p The workshop content was not able to be downloaded successfully. Check that the location specified in the workshop definition is correct, or that any remote site hosting the workshop content is accessible.
            div.modal-footer
                button.btn.btn-secondary(type="dismiss", data-dismiss="modal") Dismiss
