mod_wsgi==5.0.0
Django==4.2.11
django-registration==3.4
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
warpdrive>=0.34.0
wrapt==1.16.0
django-oauth-toolkit==2.3.0
django-cors-headers==4.3.1
requests==2.32.0
django-csp==3.7
kopf[full-auth]==1.36.2
pykube-ng==23.6.0
rstr==3.2.2

black==24.3.0
pip-tools==7.3.0
