mod_wsgi==4.9.4
Django==3.2.20
django-registration==3.3
django-crispy-forms==1.14.0
warpdrive>=0.34.0
wrapt==1.14.1
django-oauth-toolkit==1.7.1
django-cors-middleware==1.5.0
requests==2.31.0
django-csp==3.7
kopf[full-auth]==1.36.1
pykube-ng==22.9.0
rstr==3.2.0

black==22.3.0
pip-tools==6.6.2

# Pin due to CVEs. Review if change django and django-oauth-toolkit versions.
jwcrypto==1.4.2
oauthlib==3.2.2
cryptography==41.0.3
certifi==2023.07.22
wheel==0.38.1
sqlparse==0.4.4
aiohttp==3.8.5
