mod_wsgi==5.0.0
Django==4.2.8
django-registration==3.4
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
warpdrive>=0.34.0
wrapt==1.16.0
django-oauth-toolkit==1.7.1
django-cors-headers==4.3.1
requests==2.31.0
django-csp==3.7
kopf[full-auth]==1.36.2
pykube-ng==23.6.0
rstr==3.2.2

black==23.12.0
pip-tools==7.3.0
