#mod_wsgi==4.7.1
https://github.com/GrahamDumpleton/mod_wsgi/archive/develop.zip
Django==3.1.7
django-registration==3.1.1
django-crispy-forms==1.11.1
warpdrive>=0.33.0
wrapt==1.12.1
django-oauth-toolkit==1.4.0
django-cors-middleware==1.5.0
requests==2.25.1
django-csp==3.7
kopf==1.29.2
pykube-ng==20.10.0

black
pip-tools
pylint
pylint-django
