{% extends 'project-base.html' %}

{% load static %}

{% block head_styles %}
  <link rel="stylesheet" href="{% static "workshops/styles/catalog.css" %}" crossorigin="anonymous">
{% endblock %}

{% block content %}
  {% if notification == "session-deleted" %}
    <div id="notification" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Your session was deleted.</strong> Start a new workshop to continue.
      <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  {% endif %}
  {% if notification == "session-unavailable" %}
    <div id="notification" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>No session available.</strong> Select a different workshop or try again.
      <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  {% endif %}
  {% if notification == "session-invalid" %}
    <div id="notification" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Session invalid or expired.</strong> Start a new workshop to continue.
      <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  {% endif %}
  {% if notification == "workshop-invalid" %}
    <div id="notification" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Invalid workshop.</strong> Start a new workshop to continue.
      <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  {% endif %}
  {% if notification == "startup-timeout" %}
  <div id="notification" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Startup timeout.</strong> Select a different workshop or try again.
    <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
{% endif %}

  <div class="jumbotron jumbotron-fluid bg-light">
    <div class="container">
      {% if catalog %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 mt-1 g-3">
          {% for entry in catalog %}
            <div class="col">
              <div class="card h-100">
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">
                      {% if entry.session %}
                      <span class="float-end green-light"></span>
                      {% elif entry.capacity != 0 %}
                      <span class="float-end orange-light"></span>
                      {% else %}
                      <span class="float-end red-light"></span>
                      {% endif %}
                      {{ entry.workshop.title }}
                  </h5>
                  <p class="card-text">{{ entry.workshop.description }}</p>
                  <a href="{% url 'workshops_environment' entry.environment %}" class="btn btn-primary mt-auto start-workshop w-100">Start workshop</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
          <div class="row text-center">
              <p class="mt-4">No workshops available...</p>
          </div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block body_scripts %}
  <script src="{% static "workshops/scripts/catalog.js" %}" crossorigin="anonymous"></script>
{% endblock %}
