div#startup-cover-panel
    div
        button.close.text-white#startup-cover-panel-dismiss(type="button" aria-label="Close")
            span(aria-hidden="true" onclick="document.getElementById('startup-cover-panel').style.display='none'") &times;
    div.lds-roller
        div: div: div: div: div: div: div: div
    div.text-white#startup-cover-panel-message
        h5 Loading environment...
