if workshop_started_html
    div.modal.fade#started-workshop-dialog(tabindex="-1", role="dialog", aria-labelledby="started-workshop-dialog-title", aria-hidden="true")
        div.modal-dialog.modal-dialog-centered(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#started-workshop-dialog-title Workshop Started
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    div !{workshop_started_html}
                div.modal-footer
                    button.btn.btn-primary#started-workshop-dialog-confirm(type="button", data-dismiss="modal") Continue
