html
    head
        link(rel="stylesheet", href="/static/xterm/css/xterm.css")
        link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/static/styles/educates.css")
        link(rel="shortcut icon", href="/static/images/favicon.ico")

    body
        div.terminal(data-endpoint-id=`${endpoint_id}` data-session-id=`${session_id}`)

        script(src="/static/scripts/educates-bundle.min.js")
        script(src="/static/scripts/educates-theme.js")
