html
    head
        link(rel="stylesheet", href="/static/styles/xterm.css")
        link(rel="stylesheet", href="/static/styles/bootstrap.css")
        link(rel="stylesheet", href="/static/styles/eduk8s.css")

    body
        div#dashboard
            div.split.split-horizontal#controls-pane
                div.jumbotron
                    div.btn-group-vertical.col-12
                        button.execute(type="button" class="btn btn-primary" data-session-id="1" data-input="ls -las") Execute #1
                        button.execute(type="button" class="btn btn-primary" data-session-id="2" data-input="top") Execute #2
                        button.execute(type="button" class="btn btn-primary" data-session-id="1" data-input="<ctrl-c>") Interrupt #1
                        button.execute(type="button" class="btn btn-primary" data-session-id="2" data-input="<ctrl+c>") Interrupt #2
                        button.disconnect(type="button" class="btn btn-primary" data-session-id="1") Disconnect #1
                        button.disconnect(type="button" class="btn btn-primary" data-session-id="2") Disconnect #2
                        button.reconnect(type="button" class="btn btn-primary" data-session-id="1") Reconnect #1
                        button.reconnect(type="button" class="btn btn-primary" data-session-id="2") Reconnect #2

            div.split.split-horizontal#terminals-pane
                div.terminal#terminal-1(data-endpoint-id=`${endpoint_id}` data-session-id="1")
                div.terminal#terminal-2(data-endpoint-id=`${endpoint_id}` data-session-id="2")

    script(src="/static/scripts/eduk8s-bundle.js")
    script(src="/static/scripts/testing/dashboard-bundle.js")